[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
grpcio = "*"
grpcio-tools = "*"
googleapis-common-protos = "*"
click = "*"
pyyaml = "*"
sanic = "*"
aiofiles = "*"
aiohttp = "*"

[requires]
python_version = "3.6"
